  .navStyle{
    color: white;
    text-decoration: none;
  }
  .container{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container2{
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: white;
    padding: 3%;
    padding-top: 10px;
  }
  .searchBox{
      height: 20px;
      color: white;
  }
  .logo1{
    border-radius: 50%;
    width: 8%;
    height: 90%;
    margin-top: 10px;
    margin-left: 10%;
  }
  .title{
      margin-left: 1%;
      margin-top: -10px;
  }